
img.polaroid {  
    background:#000; /*Смените его на фоновое изображение или удалите*/  
    border:solid #fff;  
    border-width:6px 6px 20px 6px;  
    box-shadow:1px 1px 5px #333; /* Стандартное размытие на 5px. Для пущей глубины увеличьте его */  
    -webkit-box-shadow:1px 1px 5px #333;  
    -moz-box-shadow:1px 1px 5px #333;  
    height:200px; /* Установите на высоту своего изображения или нужного div’а*/  
    width:200px; /* Установите на ширину своего изображения или нужного div’а */  
}

body {
  font-family: Arial;
  font-size: 14px;
  padding-top: 250px;
}
button {
    background-color: #f44336; /* red */
    color: white; /* red */
}

#_picture {
  padding-top: 5px;
}

body > span,
body > h1 {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

span {
  color: #888888;
}

span > b {
  color: black;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
products {
  float: left;
  display: block;
  width: 250px;
}
categories {
  float: left;
  display: block;
  width: 250px;
}
products > div {
  float: left;
  width: 100%;
}
categories > div {
  float: left;
  width: 100%;
}
products > div > div.dropdown-display {
  border-radius: 8px;
  float: left;
  width: 100%;
  background: white;
  height: 40px;
  cursor: pointer;
  border: solid 1px #dddddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
categories > div > div.dropdown-display {
  border-radius: 8px;
  float: left;
  width: 100%;
  background: white;
  height: 40px;
  cursor: pointer;
  border: solid 1px #dddddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
products > div > div.dropdown-display > * {
  float: left;
  height: 100%;
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
categories > div > div.dropdown-display > * {
  float: left;
  height: 100%;
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
products > div > div.dropdown-display > span {
  font-size: 14px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 34px;
  padding-left: 10px;
}
categories > div > div.dropdown-display > span {
  font-size: 14px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 34px;
  padding-left: 10px;
}
products > div > div.dropdown-display > span.placeholder {
  color: #aaaaaa;
}
categories > div > div.dropdown-display > span.placeholder {
  color: #aaaaaa;
}
products > div > div.dropdown-display > i {
  position: relative;
  width: 14px;
  margin-left: -24px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
categories > div > div.dropdown-display > i {
  position: relative;
  width: 14px;
  margin-left: -24px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
products > div > div.dropdown-list {
  float: left;
  position: relative;
  width: 100%;
  transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
categories > div > div.dropdown-list {
  float: left;
  position: relative;
  width: 100%;
  transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -webkit-transition: -webkit-transform ease 250ms;
  -moz-transition: -webkit-transform ease 250ms;
  -ms-transition: -webkit-transform ease 250ms;
  -o-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
products > div > div.dropdown-list > div {
  position: absolute;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  background: white;
}
categories > div > div.dropdown-list > div {
  position: absolute;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  background: white;
}
products > div > div.dropdown-list > div > div {
  float: left;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: solid 1px #dddddd;
  border-top: none;
}
categories > div > div.dropdown-list > div > div {
  float: left;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: solid 1px #dddddd;
  border-top: none;
}
products > div > div.dropdown-list > div > div:hover {
  background: #F0F0F0;
}
categories > div > div.dropdown-list > div > div:hover {
  background: #F0F0F0;
}
products > div > div.dropdown-list > div > div.selected {
  background: #2875c7;
  color: white;
}
categories > div > div.dropdown-list > div > div.selected {
  background: #2875c7;
  color: white;
}
products > div > div.dropdown-list > div > div > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
categories > div > div.dropdown-list > div > div > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
products > div > div.dropdown-list > div > div > span {
  float: left;
  width: 100%;
  position: relative;
  padding-right: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
}
categories > div > div.dropdown-list > div > div > span {
  float: left;
  width: 100%;
  position: relative;
  padding-right: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
}
products > div > div.dropdown-list > div > div > i {
  float: left;
  width: 20px;
  margin-left: -20px;
  display: none;
}
categories > div > div.dropdown-list > div > div > i {
  float: left;
  width: 20px;
  margin-left: -20px;
  display: none;
}
products > div > div.dropdown-list > div > div.selected > i {
  display: inline-block;
}
categories > div > div.dropdown-list > div > div.selected > i {
  display: inline-block;
}
products > div.show > div.dropdown-list {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
}
categories > div.show > div.dropdown-list {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
}
